[submodule "Covid-Tracker-in-React-JS"]
	path = Covid-Tracker-in-React-JS
	url = git@github.com:reuben21/Covid-Tracker-in-React-JS.git
[submodule "Third-Party-Authentication-in-React-JS"]
	path = Third-Party-Authentication-in-React-JS
	url = git@github.com:reuben21/Third-Party-Authentication-in-React-JS.git
[submodule "Burger-Builder-Web-Application-using-React-JS"]
	path = Burger-Builder-Web-Application-using-React-JS
	url = git@github.com:reuben21/Burger-Builder-Web-Application-using-React-JS.git
[submodule "Event-Booking-Project-MERNG-Stack"]
	path = Event-Booking-Project-MERNG-Stack
	url = git@github.com:reuben21/Event-Booking-Project-MERNG-Stack.git
